# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Update Snapshot

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write


    steps:
    - uses: actions/checkout@v4
    - name: setup java
      uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: '25'
        java-package: jdk
        architecture: x64

    - name: configure snapshot
      uses: s4u/maven-settings-action@v3.1.0
      with:
        servers: |
          [{
              "id": "portal-snapshots",
              "username": "${{ secrets.PORTAL_USERNAME }}",
              "password": "${{ secrets.PORTAL_PASSWORD }}"
          }]

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Deploy Snapshot
      run: mvn -B deploy

#    - name: Publish to GitHub Packages Apache Maven
#      run: mvn deploy -s $GITHUB_WORKSPACE/settings.xml
#      env:
#        GITHUB_TOKEN: ${{ github.token }}
